html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #F7F7F7;
}

svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.padding-0 {
  padding: 0 !important;
}

.correlation {
  height: 50vh;
  width: 100%;
}

.correlation rect {
  fill: none;
  pointer-events: all;
}

.correlation .node circle {
  cursor: pointer;
}

.correlation .node text {
  fill: #f7f7f7;
  pointer-events: none;
}

.correlation .link {
  stroke: #999;
}

.boxplot {
  height: 50vh;
  width: 100%;
}

.boxplot .box {
  border: 1px solid #eee;
}

.boxplot .box g, .box-chosen-count {
  font: 10px sans-serif;
}

.boxplot .box line,
.boxplot .box rect,
.boxplot .box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.boxplot .box .center {
  stroke-dasharray: 3,3;
}

.boxplot .box .outlier {
  fill: none;
  stroke: #ccc;
}

.regret {
  height: 50vh;
}